{% extends "repose/base.html" %}

{% block title %}Review Booking | Repose Spa & Wellness{% endblock %}

{% block meta_description %}
Review your booking details before continuing to payment.
{% endblock %}

{% block content %}
<section class="form-page">
  <div class="form-card">

    <div class="form-card-header">
      <h1>Review Your Booking</h1>
    </div>

    <div class="review-section">
      <h2>Booking</h2>

      <p> Selected booking choice:
        {% if booking_type == "spa" %}
        Spa Access
        {% elif treatment %}
        {{ treatment.name }}
        {% elif package %}
        {{ package.name }}
      </p>
      {% endif %}
    </div>

    <div class="review-section">
      <h2>Details</h2>

      <p>Number of guests: {{ number_of_guests }}</p>
      <p>Date: {{ booking_date }}</p>
      <p>Time: {{ booking_time_display }}</p>
      <p>Name: {{ guest_first_name }} {{ guest_last_name }}</p>
      <p>Email: {{ guest_email }}</p>
    </div>

    <div class="review-section">
      <h2>Price</h2>

      {% if member_discount %}
      <p>Standard price: £{{ original_unit_price }}</p>
      <p>Member discount: 15%</p>
      <p>Member price: £{{ unit_price }} per treatment</p>

      {% elif booking_type == "package" %}
      <p>Price per package: £{{ unit_price }}</p>
      <p>Number of packages: {{ quantity }}</p>

      {% else %}
      <p>Price per person: £{{ unit_price }}</p>
      {% endif %}

      <p><strong>Total: £{{ total_price }}</strong></p>
    </div>

    <div class="btn-container">
      <a href="{% url 'home' %}" class="button">
        Cancel
      </a>
      <form method="POST" class="review-payment">
        {% csrf_token %}
        <button type="submit" class="button form-button">Continue to Payment</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}