{% extends "repose/base.html" %}

{% block title %}Review Booking | Repose Spa & Wellness{% endblock %}

{% block meta_description %}
Review your booking details before continuing to payment.
{% endblock %}

{% block content %}
<section>
  <h1>Review Your Booking</h1>

  <div>
    <h2>Booking</h2>

    <p> Selected booking choice:
      {% if booking_type == "spa" %}
      Spa Access
      {% elif treatment %}
      {{ treatment.name }}
      {% elif package %}
      {{ package.name }}
    </p>
    {% endif %}
  </div>

  <div>
    <h2>Details</h2>

    <p>Number of guests: {{ number_of_guests }}</p>
    <p>Date: {{ booking_date }}</p>
    <p>Time: {{ booking_time_display }}</p>
    <p>Name: {{ guest_first_name }} {{ guest_last_name }}</p>
    <p>Email: {{ guest_email }}</p>
  </div>

  <form method="POST">
    {% csrf_token %}
    <button type="submit">Continue to Payment</button>
  </form>
</section>
{% endblock %}